RAILS_ENV={{ RAILS_ENV }}
RAILS_LOG_LEVEL={{ RAILS_LOG_LEVEL }}

# Uncomment and define the following variables to configure rails'
# Content Security Policy to allow frontend dev
# RAILS_DEV_IP=<ip address of machine>
# RAILS_DEV_HOSTNAME=<host name of machine>